.toolbar{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	padding: 9px;
	margin-top: 0px;
	background: grey;
	list-style-type: none;
	overflow: hidden;
	background-color: #eeeeee;
}

.toolbarItem{
	display: inline;
	background-color: #dddddd;
	float: left;
}

.right{
	float: right;
}

.toolbarItem a{
	display: block;
	padding: 14px 16px;

}

.sidebar-left{
	position: fixed;
	width: 250px;
	height: 91%;
	margin-top: 0px;
	margin-left: -8px;
	margin-bottom: 20px;
    overflow: auto;
}

.main-content{
	position: relative;
	margin: 100px;
	margin-left: 260px;
	margin-top: 70px;
	background: white;
	width: 100%;
	height: 100%;
}

iframe{
	display: block;
	border: none;
}

.invisible{
	display: none;
}

li.directory{
    width: inherit;
    height: 25px;
    background-color: #d9ebf6;
}

.leaf{
	border-top: thin solid #DDDDDD;
}

li{
	list-style: none;
}

li.directory:hover { 
    background-color: #4da6ff;
}

li.leaf:hover { 
    background-color: #aaaaaa;
}

li.leaf.current:hover{
	background-color: #0099cc;
}

li.current{
	background-color: #00ccff;
}

li.disabled{
	display: none;
}

ul{
	padding-left: 0;
	margin: 0;
	text-indent: 10px;
}

button.d{
	border: none;
	width: inherit;
    height: 25px;
    padding: 0px;
    text-align: left;
    background-color: transparent;
    color: black;
    cursor: inherit;
}