.excel_category{
	width: 100%;
	height: 100%;
}

.category-transition{
	overflow: hidden;
	transition: height 0.5s linear;
	-webkit-transition: height linear 0.5s;
	-moz-transition: height linear 0.5s;
	-o-transition: height linear 0.5s;
}

li.directory{
    width: inherit;
    height: 25px;
    background-color: transparent;
}

li{
	list-style: none;
}

li.leaf:hover,li.directory:hover{ 
    background-color: #3394CE;
}

li.directory:hover span{
	color: white;
}

li.directory:hover i:before{
	color: orange;
}

li.leaf a{
	text-decoration: none;
	color: black;
}

li.leaf:hover i:before{
	color:orange;
}

li.leaf:hover a{ 
	color: white;
}

li.leaf.current:hover{
	background-color: #0099cc;
}

li.current{
	background-color: #07C5C3;
}

li.disabled{
	display: none;
}

ul{
	padding-left: 0;
	margin: 0;
	text-indent: 10px;
	overflow: hidden;
}

button.d{
	border: none;
	width: inherit;
    height: 25px;
    padding: 0px;
    text-align: left;
    background-color: transparent;
    color: black;
    cursor: inherit;
}

.leaf{
	height: 1.5rem;
}

.directory{
	height: 1.5rem;
}

.tanent{
	display: block;
	height: 2rem;
	text-align: center;
}

.tanent > p {
	text-align: center;
}